@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


nav a:hover
{
    color:  #0065FC;
    padding-top: 40px;
    border-top: 2px solid #0065FC;   
}
#logo_nav_desktop
{
    padding-top: 26px;
    margin: 0px;
}
nav ul
{
    list-style-type: none;
    display: flex; 
}
nav a
{
    font-size: medium;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
    padding: 0px 20px;
}
#bloc_page
{
    margin: 0 40px;
}
#populaires
{
    position: relative;
    border-radius: 15px;
    min-width: 325px;
    padding-left: 37px;
    padding-right: 37px;
    margin-left: 37px;
    background-color: #F2F2F2;
} 
#section_two
{
   display: flex;
   flex-flow: row-reverse;
}
#hebergements
{
    border-radius: 15px;
    padding: 15px;
    padding-left: 18px;
    padding-right: 18px;
    max-width: 850px;
    background-color: #F2F2F2; 
}
#section_two #hebergements h1
{
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 7px;
    padding-left: 15px;
    font-size: x-large;
    font-weight: bolder;
}
#listHebergement
{
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: space-evenly;
  max-width: 943px;
}
.cartaside
{
    max-width: 334px;
}
.cartHebergement
{
    margin: 18px;
    max-width: 235px;
}
#hebergements h4 
{
    margin-left: 23px;
    margin-bottom: 28px;
}
.photo-hebergement
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    height: 110px;
}
.acticites2and4Column 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 42px;
}
#activities
{
    display: flex;
    margin-bottom: 45px;
}
.activite-4
{
    margin-left: 42px;  
}
.photo-activitie
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    width: 100%;
}

.cartActivitie
{
    width: 300px;
}
.footerlist 
{
    margin-right: 250px;
    margin-bottom: 30px;
}
