
    #bloc_page
    {
       margin: 0px 0px; 
    }
    header
    {
        margin-top: 14px;
    }
    #nav
    {
        position: relative;
        display: block;
    }
    .logo
    {
        margin-left: 6px;  
    }
    #nav #singUp a
    {
        color: #0065FC;
        border-bottom: none;
        font-size: large;
        font-weight: bolder;
        right: 0px;
        top: -57px;
        position: absolute;
        border-bottom: none;
    }
    nav a 
    {
        font-size: medium;
        margin: 0px;
    }

    #nav_menu
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        font-size: medium;
        color: #181818;
        margin-top: 25px; 
    }
    nav ul
    {
        list-style-type: none;
        display: flex; 
        padding-left: 0px;
    }
    #nav_menu .nav-mobile-a
    {
        width: 100%;
        height: 33px;
        border-bottom: 3px solid #F2F2F2;
        text-align: center;
    }

    #nav_menu .nav-mobile-a:hover
    {
        color:  #0065FC;
        border-bottom: solid 3px #0065FC; 
    }
    #section_one
    {
        padding-left: 17px; 
    }
    #section_one p 
    {
        color:#616060;
    }
    #researchButtonText
    {
        display: none;
    }
    #input_button
    {
        display: flex;
        margin-top: 35px;
    }
    #filtes-title
    {
        display: inline;
        font-size: larger;
        font-weight: bolder;
        margin-left: 10px;
        width: 100%;
    }
    #Filters
    {
        margin: 0px;
        flex-wrap: wrap;
        margin-left: -15px;
        position: relative;
    }
    #section_one #Filters h2
    {
        margin-top: 0;
        margin-bottom: 0px;
        margin-left: 15px;
    }
    .filter_button
    {
        padding-right: 15px;
        margin-left: 18px;

    }
    .icon_filter
    {
        margin-left: 15px;   
    }
    #researchButtonText
    {
        display: none;
    } 
    #search_input
    {
        padding: 11px;
        padding-left: 22px;
        padding-right: 22px;
        margin-bottom: 35px; 
    } 
    #search_button
    {
        padding: 35px 31px 11px 16px;
        border-radius: 15px;
        position: absolute;
        background:url(../icons/search-solid.svg) no-repeat center 5px;
        background-color: #0065FC;
        margin-left: 287px;
        border-color: transparent;
    } 
    .icon-location
    {
        padding: 15px 17px;
    }
    #info 
    {
        display: flex;
        flex-direction: row;
        margin: 20px;
    }
    #aside-section 
    {
        display: flex;
        flex-direction: column-reverse;
    }
    h5 
    {
        color: grey;
        margin: 18px 0px 7px;
        font-size: inherit;
        font-weight: 100;
    }
    #populaires
    {
        border: 1px;
        background-color: #F2F2F2;
        padding-left: 17px;
        padding-right: 19px;
        padding-bottom: 20px;
    }
    #title-icone
    {
        margin-right: 3px;
    }
    .cartaside
    {
        margin-bottom: 15px;
    }
    #hebergements
    {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        margin-left: 17px;
    }
    #hebergements h2 
    {
        margin: 27px 0px 27px;
    }
    .cartaside .description_aside h3
    {
        font-size: larger; 
    }
    .cartHebergement .hebergement-description h3
    {
        font-size: larger;
        margin-bottom: 7px;
    }
    .stars
    {
        padding-top: 0px;
    }
    .cartHebergement .hebergement-description .stars .icon-star
    {
        height: 12px;
    }
    #hebergements h4
    {
        margin-top: 12px;
        font-size: large;
    }
    .photoAside
    {
        width: 115px;
        min-width: 115px;
    }
    .cartHebergement
    {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        background-color: #ffffff;
        padding: 0px;
        margin-bottom: 20px;
        cursor: pointer;
        box-shadow: 1px 5px 6px #F2F2F2;
        width: 95%;
    }
    .photoMediaQuery
    { 
      width: 100%; 
      object-fit: cover;
    } 
    .hebergement-description
    {
        padding-left: 15px ;
        padding-bottom: 15px;
        margin-top: 5px;
        padding-left: 5px;
        padding-bottom: 5px
    }
    #section-three
    {
        margin-left: 17px;
    }
    .photoMediaQuery_activite
    {
        height: 140px;  
    } 
    .cartActivitie
    {
        border-radius: 15px;
        box-shadow: 1px 5px 6px #F2F2F2;
        margin-bottom: 25px;
        padding-bottom: 5px;
        cursor: pointer;
        width: 95%;
    }
    #activities
    {
        display: flex;
        flex-direction: column;
    }
    .photo-activitie
    {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
        width: 100%;
    }
    .activiteTitle 
    {
        padding-bottom: 0px;
        margin-bottom: 10px;
    }

    #footer
   {
       padding-left: 10px;
       padding-bottom: 50px;

   } 
   #listHebergement
   {
       display: flex;
       flex-direction: column;
   }
   #footer .footerlist p
   {
       font-size: medium;
       color:#616060;
   }
   .footerlist
   {
       margin-left: 10px;   
   }
   #footer .container{
       display: flex;
       flex-direction: column;
   }
   