

#hebergements 
{
    padding: 15px;
}
.photoMediaQuery_activite
{
    height: 200px;  
} 
#activities
{
    margin-bottom: 45px;
}
.activiteTitle 
{
    padding-bottom: 15px;
}
.cartActivitie
{
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 1px 5px 6px #f2f2f2;
}
.photo-activitie
{
    height: 200px;
}
.photo-hebergement
{
    height: 200px;
}
#footer
{
    display: flex;
    justify-content: space-around;
}