@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body
{
    background-color: #ffffff;
    font-family:Raleway ;
}
#bloc_page
{
    width: 95%;
    margin: auto;
}

#logo_nav_desktop
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#logo_nav_mobile
{
    display: none;
}

#logo img
{
    width: 100px;
    height: 50px;
}
nav ul
{
    list-style-type: none;
    display: flex;  
}
nav li
{
    margin-right: 15px;
}
nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
    
}

nav a:hover
{
    color:  #0065FC;
    border-top: 2px solid #0065FC;
}
#nav_mobile
{
    display: none;
}
@media all and (max-width: 980px)
{
    #bloc_page
    {
        width: 100%;
    }
    #logo_nav_desktop
    {
       display: none; 
    }
    #logo_nav_mobile
    {
        display: flex;
        justify-content: space-between;

    }
    #logo_nav_mobile nav .singUp a
    {
        color: #0065FC;
        border: none;
    }
    #nav_mobile
    {
        display:flex;
        border-bottom: solid 3px #F2F2F2;
        justify-content: space-between; 

    }
    #nav_mobile a:hover
    {
        color:  #0065FC;
        border-top: none;
        border-bottom: solid 3px #0065FC; 
        
    }
    


}



#input_button
{
    display: flex;
}
.fa-map-marker-alt
{
    padding: 10px 15px;
    background-color: #F2F2F2;
    font-size: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-color: #1b1414; 
      
}
    
#search_input
{ 
    padding: 10px 15px;
    font-size: 20px;
    border-right: none;
    border-left: none;
    border-top-style: outset;
    border-color: #F2F2F2;
    
}

#search_button
{
    padding: 10px 15px;
    font-size: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-style: solid;
    border-color: #0065FC;
    color: #ffffff;
    background-color: #0065FC;

}
#searchIcon_button
{
    visibility: hidden;
}
@media all and (max-width: 980px)
{
    #search_button
    {
        visibility: hidden;
    }
    #searchIcon_button
    {
        visibility: visible;
        font-size: 20px;
        border-radius: 15px;
        border-style: solid;
        border-color: #0065FC;
        color: #ffffff;
        background-color: #0065FC;
        display: block;
        padding: 10px;
        margin-left: -152px;
        
    }
}
#Filters
{
    display: flex;
    position: relative;
    margin-left: 10px;
    margin: 10px 10px ;
}

.filter_button
{
    font-size: 14px;
    border-radius: 50px;
    border-style: solid;
    background-color: #ffffff;
    border-color: #F2F2F2; 
    padding: 7px 17px;
    padding-left: 43px;
    margin-top: 14px;
    margin-left: 20px;
   
   
}
.filter_button:hover
{
    background-color: #DEEBFF;
} 

.icon_filter
{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    padding: 11px 13px;
    font-size: x-small;
    position: absolute;
    margin-top: 14px;
    margin-left: 20px; 
   
}
@media all and (max-width: 980px)
{
    #Filters
    {
        flex-wrap: wrap;
    }
    
}


#section_two
{
   display: flex;
   flex-flow: row-reverse;
   justify-content: space-between;
}

#hebergements
{
    border-radius: 15px;
    max-width: 800px;
    padding: 15px;
    padding-left: 15px;
    background-color: #F2F2F2; 
}
#hebergements h1
{
    padding-left: 15px;
}
#listHebergement
{
  display: flex;
  flex-wrap: wrap;
   
}
.lineheberg
{
    display: flex;
    justify-content: space-between;
}
.photo-hebergement-activitie
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.cartHebergement
{
    border-radius: 16px;
    background-color: #ffffff;
    padding: 5px;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 1px 5px 6px #b1afaf;
}
.fa-star
{
    color: #0065FC;
}
#populaires
{
    position: relative;
    border-radius: 15px;
    min-width: 325px;
    padding: 15px;
    background-color: #F2F2F2;
} 
#title-icone
{
    display: flex;
    justify-content: space-between;
}
.fa-chart-line
{
    font-size: larger;
    padding-top: 20px;
}
.photoAside
{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 100px;
    height: 135px;
    object-fit: cover;

}
.cartaside
{
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    background-color: #ffffff;
    padding: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 1px 5px 6px #b1afaf;
}
.description_aside
{
    padding-left: 15px
}
@media all and (max-width: 980px)
{
    #section_two
    {
        flex-wrap: wrap;
    }
    #populaires
    {
        border-radius: none;
        width: 100%;
        background-color: #F2F2F2;
    }

    #hebergements
    {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 15px;
        padding-left: 40px; 
    }
    .cartHebergement
    {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        background-color: #ffffff;
        padding: 0px;
        margin: auto;
        margin-bottom: 20px;
        cursor: pointer;
        box-shadow: 1px 5px 6px #F2F2F2;
    }
    .photoMediaQuery
    {
      height: 140px; 
      width: 280px; 
      object-fit: cover;
    } 
    .hebergement-description
    {
        padding-left: 15px ;
        padding-bottom: 15px;
    }
}


#activities
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cartActivitie
{
    border-radius: 15px;
    box-shadow: 1px 5px 6px #F2F2F2;
    cursor: pointer;
}
.activiteTitle
{
    padding-left: 15px;
}

.acticites2and4Column
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

@media all and (max-width: 980px)
{
    .photoMediaQuery
    {
        height: 140px; 
        width: 350px; 
    } 
    .cartActivitie
    {
        border-radius: 15px;
        box-shadow: 1px 5px 6px #F2F2F2;
        margin: auto;
        margin-bottom: 20px;
        cursor: pointer;
        max-width: 350px
    }
    #activities
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-content: center;
    }
}
#footer
{
    display: flex;
    border: #F2F2F2;
    background-color: #F2F2F2;
    padding-left: 15px;
    padding-right: 15px;
}

.footerlist 
{
    padding-right: 150px;
}
@media all and (max-width: 980px)
{
   #footer
   {
       display: flex;
       flex-direction: column;
       border-width: 100%;
   } 
   .footerlist 
   {
    padding: 15px;
   }
}

